{% extends 'main/layout.html' %}
{% load filters %}
{% load static %}

{% block title %}Project Planner{% endblock %}

{% block content %}
{% include 'dialog/project_create_dialog.html' with community=project.community %}


<div class="content mx-3">

    <link rel="stylesheet" type="text/css"
          href="{% static 'style/project/project_detail.css' %}"
    >
    <nav class="nav-breadcrumb px-3 py-2 mx-2"
        style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='currentColor'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'communities' %}">Communities</a></li>
            <li class="breadcrumb-item">
                <a href="{% url 'community_detail' community_id=project.community.id page='communities'  %}">
                {{ project.community.name }}
                </a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">{{ project.name }} Tasks</li>
          </ol>
    </nav>
    <h5 class="mx-3 mt-3">{{ project.name }} Planning</h5>
    <div class="d-flex gap-2 p-3 py-0 pb-2 mt-1">
        {% for status in project.statuses.all %}
            {% if project.tasks.all|percentage_tasks_by_status:status != 0 %}
                <div class="d-flex mt-3 px-3 justify-content-between align-items-center rounded border border-2 {{  ""|random_border_color }}"
                    style="width: {{ project.tasks.all|percentage_tasks_by_status:status }}% ">
                    <b class="status-title">{{ status.label|upper }}</b>
                    <small class="bg-dark text-light px-2 rounded">{{ project.tasks.all|percentage_tasks_by_status:status }}%</small>
                </div>
            {% endif %}
        {% endfor %}
    </div>
    <div class="container-fluid bg-light p-2 mt-0">
        {% for status in project.statuses.all %}
        <div class="row status-container mt-2 mx-2">
            <div class="status-display col-2 bg-dark text-light py-4">
                <h5>{{ status.label|upper }}</h5>
                <p class="d-flex mt-3 justify-content-between align-items-center w-100">
                    <b>Total</b>
                    <small>{{ project.tasks.all|count_tasks_by_status:status }}</small>
                </p>
                <p class="d-flex justify-content-between align-items-center w-100">
                    <b>Percentage</b>
                    <small>{{ project.tasks.all|percentage_tasks_by_status:status }}%</small>
                </p>
            </div>
            <div class="col-10 p-3">
                <div class="container-fluid bg-light mt-2">
                    <div class="row row-cols-2 row-cols-lg-3 row-cols-xl-4 g-1">
                        {% for task in project.tasks.all|filter_tasks_by_status:status %}
                            <div class="col">
                                {% include 'tasks/task.html' with task=task page="project" %}
                            </div>
                        {% empty %}
                            <div class="col-12 p-2 m-0">
                                <h6 class="text-dark">No task with this status</h6>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        {% empty %}
            <h6 class="text-dark">No status created yet</h6>
        {% endfor %}
    </div>
</div>




<!-- Content specific to the index page -->
{% endblock %}
