{% load static %}
<link rel="stylesheet" type="text/css"
      href="{% static 'style/status/status_update_dialog.css' %}"
>
<div class="modal fade" id="statuscreate-{{ project.id }}Modal" tabindex="-1" role="dialog" aria-labelledby="statuscreate-{{ project.id }}ModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="taskModalLabel">{{ project.name|capfirst }}: Status Management</h5>
      </div>
      <form action="{% url 'status_create' project_id=project.id %}" method="post">
        {% csrf_token %}
        <div class="modal-body">
            <div class="container-fluid">
              <form method="post">
                {% csrf_token %}
                <div class="form-group input-group">
                    <span class="input-group-text" id="basic-addon1">Label</span>
                    <input type="text" id="id_label" name="label" class="form-control" value="{{ status.label|upper }}">
                    <button type="submit" class="btn btn-primary">Create
                    </button>
                </div>
                <input type="hidden" id="project" name="project" value="{{ project.id }}">
              </form>

              <h4 class="mt-3 mb-1">Status List</h4>
                <div class="container-fluid">
                  {% for status in project.statuses.all %}
                  <div class="row">
                    <div class="task-element rounded col-12 bg-dark text-light mt-2 p-3">
                            {{ status.label|capfirst }}
                        <a id="#deleteBtn" class="btn btn-light text-dark"
                           href="{% url 'status_delete' status_id=status.id %}">
                            Delete
                            <i class="fa-solid fa-xmark"></i>
                        </a>
                    </div>
                  </div>
                  {% empty %}
                      <div class="col-12 bg-light text-dark mt-2 p-3">
                            No statuses
                    </div>
                  {% endfor %}
                </div>
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
          <button type="submit" class="btn btn-primary">Save</button>
        </div>
        <input type="hidden" id="project" name="project" value="{{ project.id }}">
      </form>
    </div>
  </div>
</div>