.project{
    border-radius: 1.5rem 1.5rem;
    border-end-start-radius: .75rem;
    border-start-start-radius: .75rem;
    border: 0 black;
    border-left: .5rem solid;

    padding: 1rem;
    gap: 2rem;
    display: flex;
}

.project-collapse .accordion-button{
    /*border-radius: 1.5rem 1.5rem !important;*/
    display: flex;
    gap:2rem;
    justify-content: start;
    align-items: center;
    flex-direction: row;
    flex-grow: 1;
}

.project-collapse {
    border-top: 5px solid !important;
}
.project-collapse .accordion-header{
    /*border-radius: 1.5rem 1.5rem !important;*/
    display: flex;
    gap:2rem;
    justify-content: start;
    align-items: center;
    flex-direction: row;
}
.project-collapse .account-actions{
    min-width: fit-content;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    scroll-snap-align: start;
}
.project-collapse .account-actions button{
    white-space: nowrap;
}
.project-collapse .accordion-body{
       border-radius: 1.5rem 1.5rem !important;
}
.project-collapse:has(.accordion-collapse.collapse.show){
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}

.task_list{
    border-radius: 1.5rem 1.5rem !important;
}
.task_adder{
    border-radius: 1.5rem 1.5rem !important;
    font-size: 4.5rem;
}
.task_list_title{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2rem;
}