{% load static %}
{% load filters %}

<link rel="stylesheet" type="text/css"
      href="{% static 'style/community/community.css' %}"
>

<div class="community card bg-dark text-light"
    style="border-color: #{{ community.color }}">
    <div class="card-body">
        <div class="container">
            <div class="row">
                <div class="col">
                    <h6 class="card-title pb-2">{{ community.name }}</h6>
                    <small class="card-text">{{ community.description }}</small>
                    <p class="card-text">N° members: {{ community.number_of_members }}</p>
                    <p class="card-text">N° projects: {{ community.number_of_projects }}</p>
                    <p class="card-text">N° tasks: {{ community.number_of_tasks }}</p>
                </div>
                <div class="col-auto d-flex flex-column pt-1 gap-3 align-content-start align-items-end">
                    {% if community.is_open and request.user.is_logged and not request.user|is_member_of:community %}
                         <h5>
                            <a href="{% url 'community_join' community_id=community.id %}">
                                Join
                                <i class="fa-regular fa-hand-point-up mr-2"></i>
                            </a>
                        </h5>
                    {% endif %}
                    {% if not community.is_open and not request.user|is_member_of:community%}
                        <h5>
                            <a href="">
                                Private
                                <i class="fa-solid fa-hand mr-2"></i>
                            </a>
                        </h5>
                        <h5>
                            <a href="mailto:{{ community.founder_user.email}}">
                                Contact
                                <i class="fa-solid fa-envelope mr-2"></i>
                            </a>
                        </h5>
                    {% endif %}
                    {% if request.user|is_member_of:community%}
                        <h5>
                            <a href="{% url 'community_detail' community_id=community.id page=redirect %}">
                                Enter
                                <i class="fa-solid fa-hand-pointer mr-2"></i>
                            </a>
                        </h5>
                    {% endif %}
                    {% if not request.user.is_logged and community.is_open%}
                        <h5>
                            <a href="{% url 'community_detail' community_id=community.id page=redirect %}">
                                Lookup
                                <i class="fa-solid fa-hand-pointer mr-2"></i>
                            </a>
                        </h5>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <div class="card-footer">
        <small class="card-text">
            Creata il {{ community.creation_date|date:"Y M d" }}
                da {{ community.founder_user }}
            </small>
    </div>
</div>